apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: saga-tracker-api
  namespace: ecommerce
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: saga-tracker-api
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s
  namespaceSelector:
    matchNames:
      - ecommerce
